/*  style sheet for MANYC project
    Chris, Ashar, and Yahir
    version 1.0.0  9/14/2022  
    version 1.1.0  10/19/2022  updated for gridbase.js and 
                               added background to login pages*/

@charset "ISO-8859-1";

* {
   margin: 0;
   padding: 0;
}

body { /* generic for all pages */
   background-color: "white";
   display: flex;
   align-items: center;
   justify-content: center;
}

/*index.html and login_error.html*/
.container {
   background-image: url("././images/FIve9Zoom.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 100vh;
   font-family: sans-serif;
   color: #F84E89;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #CECBCC;
}

.card{
   width: 500px;
   height: 350px;
   box-shadow: 0 0 40px 40px rgba(0, 0, 0, .50);
}

.inner-box{
   position: relative;
   width: 100%;
   height: 100%;
}

.front, .back{
   position: absolute;
   width: 100;
   height: 100;
   background-position: center;
   background-size: cover;
   padding: 55px;
   box-sizing: border-box;
   backface-visibility: hidden;
}

.back{
   transform: rotateY(180deg);
}

.card h2{
   font-weight: normal;
   font-size: 24px;
   text-align: center;
   margin-bottom: 20px;
   color: #F84E89;
}

.input{
   width: 100%;
   background-color: #F84E89;
   border: 1px solid #fff;
   margin: 6px 0;
   height: 32px;
   border-radius: 20px;
   padding: 0 10px;
   box-sizing: border-box;
   text-align: center;
   color: #fff;
}

::placeholder{
   color: #fff;
   font-size: 12;
}

button{
   background: transparent;
   border: 1px solid #fff;
   margin: 35px 0 10px;
   height: 32px;
   font-size: 12px;
   border-radius: 20px;
   padding: 0 10px;
   box-sizing: border-box;
   outline: none;
   background-color: #F84E89;
   color: #fff;
   cursor: pointer;
}

/*grid.html*/
.gridCanvas { 
   width: vw;
   height: vh;
   position: absolute;
   box-sizing: border-box;
   display: block;
}

.text {
   color: black;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: 200ms ease-in-out;
   border: 1px solid black;
   border-radius: 10px;
   z-index: 10;
   background-color: #CECBCC;
   width: 500px;
   max-width: 80%;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.modal-header {
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black;
}

.modal-header .title {
   font-size: 1.25rem;
   font-weight: bold;
}

.modal-header .close-button {
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.25rem;
   font-weight: bold;
}

.modal-body {
   padding: 10px 15px;
}

#overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   pointer-events: none;
}

#overlay.active {
   opacity: 1;
   pointer-events: all;
}

.buttonmod {
   background: transparent;
   border: 1px solid #fff;
   height: 40px;
   width: 90px;
   top: 50%;
   left: 50%;
   font-size: 15px;
   border-radius: 20px;
   box-sizing: border-box;
   outline: none;
   background-color: #F84E89;
   color: #fff;
   cursor: pointer;
}

.rounded-button {
   width: 30px;
   height: 30px;
   position: fixed;
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: space-around;
   text-decoration: none;
   color: #F84E89;
   background: none;
   cursor: pointer;
   border-radius: 60%;
   border: none;
   opacity: 0.4;
}
 
.rounded-button:hover {
   background: grey;
}